body {
  padding-top: 50px;
  
  color: #B25641;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
	background-color: #B25641;
	border-color: #B25641;
}

.btn-success {
    background-color: #B25641;
    border-color: #B25641;
}


.btn-success:hover {
    background-color: #7F2F1C;
    border-color: #7F2F1C;
}

.game-over {
	display: none;
}

.play-again {
	display: none;
}


